<?xml version = "1.0"?>
<config>
    <modules>
        <Ulogin_Plugin>
            <version>1.0.0</version>
        </Ulogin_Plugin>
    </modules>
    <default>
        <ulogin_tabs>
            <u_options>
                <u_label_login>Войти с помощью:</u_label_login>
            </u_options>
        </ulogin_tabs>
    </default>
    <global>
        <helpers>
            <ulogin>
                <class>Ulogin_Plugin_Helper</class>
            </ulogin>
        </helpers>
        <blocks>
            <ulogin>
                <class>Ulogin_Plugin_Block</class>
            </ulogin>
        </blocks>
        <models>
            <ulogin>
                <class>Ulogin_Plugin_Model</class>
                <resourceModel>ulogin_resource</resourceModel>
            </ulogin>
            <ulogin_resource>
                <class>Ulogin_Plugin_Model_Resource</class>
                <deprecatedNode>ulogin_mysql4</deprecatedNode>
                <entities>
                    <account>
                        <table>ulogin_account</table>
                    </account>
                </entities>
            </ulogin_resource>
        </models>
        <resources>
            <ulogin_setup>
                <setup>
                    <module>Ulogin_Plugin</module>
                </setup>
            </ulogin_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ulogin>
                <use>standard</use>
                <args>
                    <module>Ulogin_Plugin</module>
                    <frontName>ulogin</frontName>
                </args>
            </ulogin>
        </routers>
        <layout>
            <updates>
                <ulogin>
                    <file>ulogin.xml</file>
                </ulogin>
            </updates>
        </layout>
        <translate>
            <modules>
                <ulogin>
                    <files>
                        <default>Ulogin_Plugin.csv</default>
                    </files>
                </ulogin>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <ulogin>
                    <files>
                        <default>Ulogin_Plugin.csv</default>
                    </files>
                </ulogin>
            </modules>
        </translate>
    </adminhtml>
</config>